<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueAppCDN</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div id="app">
        <div class="products">
            <div class="product_image">
                <!-- AttributeBinding, shorthand : = v-bind: -->
                <img v-bind:src="image" alt="img">
            </div>

            <div class="product_desc">
                <!-- reactivity -->
                <!-- styles binding -->
                <h1 :style="styles">{{item}}</h1>
                <p>Description: {{desc}}</p>

                <!-- list rendering -->
                <ul>
                    <li v-for="info in infos">{{info}}</li>
                </ul>
                <div v-for="type in types" :key="type.id">{{type.size}}</div>
                
                <!-- list rendering -->
                <!-- style binding -->
                <div 
                    v-for="fruit in fruits" 
                    :key="fruit.id" 
                    @mouseover="selectItem(fruit.name)"
                    class="itemColor"
                    :style = "{ backgroundColor: fruit.color}"
                >
                        {{fruit.name}}
                </div>

                <!-- v-show adds display:none -->
                <p v-show="onSale">On Sale</p>
                <!-- conditional rendering -->
                <p v-if="qty>10">In Stock</p>
                <p v-else-if="qty>0 && qty<=10">Almost gone</p>
                <p v-else>Out of Stock</p>
                <p>Available:{{qty}}</p>

                <!-- class binding -->
                <button v-on:click="addToCart(item)" :disabled="qty==0" class="button" :class="{disabledButton: qty==0}">Add To Cart</button>
                <!-- class binding with ternaray operator -->
                <button @click="removeFromCart(item)" :disabled="cart==0" class="button" :class="cart==0 ? 'disabledButton': '' "> Remove From Cart</button>
            </div>

            <div class="product_cart">
                <button>Cart({{cart}})</button>
            </div>
        </div>
        <br>
        <a :href="repo">RepoLink</a>
    </div>

    <script src="./main.js"></script>
    <script>
        mountedApp.item = 'apple'

    </script>
</body>
</html>